* {
	margin: 0;
	padding: 0;
	/*outline: 1px solid grey;*/
	font-family: 'Fjalla One', sans-serif;
}
.all-wrapper {
	padding: 0 2%;
	max-width: 1200px;
	margin: 0 auto;
}
.menu-list {
	list-style: none;
	width: auto;
	height: 100px;
	margin: 0 0 0 auto;
	text-align: right;
}
.menu-list li {
	display: inline-block;
	width: 100px;
	vertical-align: top;
	text-align: center;
}
.menu-list a {
	font-family: 'Fjalla One', sans-serif;
	font-size: 18px;
	display: block;
	padding: 10px 5px 2px	5px;
	background-color: rgba(255,255,255,0.8);
	border-bottom: 2px solid black;
	text-decoration: none;
	color: #000;
}
.menu-list a:hover {
	background-color: rgba(0,0,0,0.8);
	color: rgba(255,255,255,0.8);
}
.drop-menu {
	display: none;
	list-style: none;
	z-index: 999;
}
.hover-menu:hover .drop-menu {
	display: block;
}
.drop-menu li {
	display: block;
}
.galler {
	width: 100%;
	z-index: 0;
}
.photos {
	list-style: none;
	text-align: center; 
}
.photos li {
	display: inline-block;
	margin: 20px;
}
.iamge {
	float: left;
	width: 400px;
}
.iamge img {
	width: 100%;
}
